[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=alacritty --config-file /usr/local/alacritty/alacritty.yml -e /usr/local/.local/data/mise/installs/tmux/3.2a/bin/tmux
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupWMClass=Alacritty
