[alias]
	s = status
	c = checkout
	co = commit
	br = branch
  d = diff
  ds = diff --staged
  pu = push
  pf = pull --ff
  st = stash --global -e
  sts = stash show stash
  stl = stash -l
  cgl = config --global -l
  cge = config --global -e
  cll = config --local -l
  cle = config --local -e
  rh = reset --hard
  rso = remote show origin
  alias = config --get-regexp ^alias
	unstage = reset HEAD --
	l = log
	lo = log --oneline --decorate
[commit]
	gpgSign = true
[core]
	excludesfile = /home/iain/.gitignore_global
	editor = nvim
	autocrlf = input
[user]
	email = iain@inulty.com
	name = Iain McNulty
	; signingKey = 9EFB007E onpace gpg
	signingKey = ECD99B46
  useConfigOnly = true
[push]
  default = current
